[submodule "thirdparty/utf8.h"]
	path = thirdparty/utf8.h
	url = https://github.com/sheredom/utf8.h
[submodule "thirdparty/hedley"]
	path = thirdparty/hedley
	url = https://github.com/nemequ/hedley
[submodule "thirdparty/msgpack-c"]
	path = thirdparty/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "thirdparty/libyaml"]
	path = thirdparty/libyaml
	url = https://github.com/yaml/libyaml
